header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 60px;
    cursor: pointer;
}
.topnav a:hover {
    color: rgba(238, 84, 29, 0.922);
}
.topnav a{
    text-decoration: none;
    color: black;
}
.closeicon{
        justify-content: end;
        display: flex;
        position: relative;
        bottom: 10px;
        background-size: 10px;
}
ul{
    display: flex;
    flex-direction: row;
}
li{
    padding: 25px;
    list-style: none;
    position: relative;
    bottom: 20px;
}
.section1 img{
       margin-left: 100px;
       width: 880px;
       height: 350px;
}
.section2 h2{
   margin-left: 100px;
   font-family: "inter";
   font-weight: 800;
   font-size: 60px;
   margin-top:10px;
}
.section2 p{
    position: relative;
    top:20px;
    font-family: "inter";
    font-size: 15px;
    color:hsl(236, 13%, 42%);
    opacity:100%;
}
.section2 button{
    color:white;
    background-color:hsl(5, 85%, 63%);
    padding:5px;
    border-radius: 2px;
    border:none;
    font-family: "inter";
    position: relative;
    right: 440px;
    bottom: 60px;
    margin-top: 200px;
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.content{
    display: flex;
    flex-direction: row;
}
.section2{
    display: flex;
    flex-direction: row;
}
.sidebar{
    background-color: hsl(240, 100%, 5%);
    margin-right: 100px;
    width: 780px;
    height: 500px;
    cursor: pointer;
}
.sidebar h2{
    color:rgba(255, 204, 0, 0.929);
    font-family: "inter";
    font-size: 40px;
    margin-left: 20px;
}
.sidebar h3{
    color: white;
    font-family:"inter";
    font-size:20px;
    margin-left: 10px;
    margin-right: 10px;
    padding:10px;
}
.sidebar p{
    color: white;
    font-size: 15px;
    font-family: "inter";
    margin-left: 15px;
    opacity: 70%;
    margin-right: 10px;
    padding:8px;
    border-bottom:1px solid;
    border-color: hsl(36, 100%, 99%);
    padding-top:5px;
}
.footer{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}
#f1{
    display: flex;
    flex-direction: row;
}
.footer img{
    width: 80px;
    height: 100px;
}
#f2{
    margin-left: 15px;
}
.num{
    color: hsl(233, 8%, 79%);
    font-size: 30px;
    font-weight: 600;
    font-family: "inter";
}
.footer h3{
    align-content: center;
    color: black;
    font-family: "inter";
    font-size: 20px;
    margin-top: 10px;
}
.footer p{
    color: hsl(236, 13%, 42%);
    font-family: "inter";
    font-size: 15px;
    align-content: center;
    margin-top: 8px;
}














	

